<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/navbar.css">
</head>
<body>

    <nav class="navbar">
        <div class="logo-container">
            <a href="dashboard.html">
                <img src="/public/images/logo.png" class="logo" alt="Inventory Logo">
            </a>            
        </div>
        <ul>
            <li><a href="products.html">Products</a></li>
            <li><a href="suppliers.html">Suppliers</a></li>
            <li><a href="#">Sales Tracking</a></li>
            <li><a href="#">Stock Alerts</a></li>
            <li><a href="login.html" class="logout">Logout</a></li>
        </ul>
    </nav>
    
</body>
</html>
